In [9]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import openpyxl
from sklearn.preprocessing import StandardScaler

In [10]:
rendimientos = pd.read_excel("../data/raw/data_mutual_funds_and_factors.xlsx", sheet_name= "fund_returns")
factores = pd.read_excel("../data/raw/data_mutual_funds_and_factors.xlsx", sheet_name= "FF_factors")

In [11]:
rendimientos.head()

,Date,X3563,X3720,X3943,X3944,X4908,X4909,X4976,X4984,X5009,...,X30931,X30932,X31209,X31217,X31270,X31276,X31277,X31507,X32452,X32453
0,200101,0.042591,0.002588,0.043533,0.056747,0.026646,0.026646,0.027493,0.028939,-0.013106,...,-0.002082,-0.008068,0.027760,-0.011047,0.033246,0.039895,-0.001103,0.002631,0.078147,0.013953
1,200102,-0.005532,-0.023236,-0.075574,-0.087754,-0.006107,-0.004580,-0.073501,-0.082143,-0.025737,...,-0.079291,-0.127140,-0.094082,-0.010343,0.026249,-0.032704,-0.005889,-0.061094,-0.029514,-0.079736
2,200103,-0.005967,-0.039648,-0.144539,-0.082556,-0.033917,-0.034847,-0.059485,-0.066561,-0.017017,...,-0.056091,-0.078960,-0.060302,-0.029036,0.000825,-0.011053,-0.020363,-0.047849,-0.023703,-0.074048
3,200104,0.070350,0.072477,0.163609,0.112676,0.046252,0.046252,0.091617,0.094468,0.059972,...,0.096038,0.096912,0.088770,0.045907,0.045342,0.060487,0.052532,0.049895,0.054637,0.081746
4,200105,0.018145,0.027374,0.026281,0.016878,0.038110,0.039634,0.007136,0.004292,-0.030263,...,0.050383,0.015049,0.008513,0.021118,0.062303,0.014879,0.034111,0.016773,0.027427,0.004096

In [12]:
rendimientos.shape

(240, 120)

In [13]:
rendimientos.isnull().sum()

Date      0
X3563     0
X3720     0
X3943     0
X3944     0
         ..
X31276    0
X31277    0
X31507    0
X32452    0
X32453    0
Length: 120, dtype: int64

No hay valores nulos para los rendimientos

In [14]:
factores.head()

     Date  Mkt.RF   SMB    HML   RMW   CMA    Mom
0  200101    3.13  5.78  -5.33 -5.31 -6.55 -25.05
1  200102  -10.05  2.63  12.58  9.09  9.56  12.51
2  200103   -7.26  2.27   6.52  3.27  3.94   8.35
3  200104    7.94 -0.66  -4.80 -3.42 -3.95  -7.97
4  200105    0.72  3.56   3.34  0.17  2.18   2.12

In [15]:
factores.shape

(240, 7)

In [16]:
factores.isnull().sum()

Date      0
Mkt.RF    0
SMB       0
HML       0
RMW       0
CMA       0
Mom       0
dtype: int64

No hay nulos para los factores

### Se comprueba, como se nos menciona en el PDF, que los rendimientos y sus factores estan en escalas diferentes ya que los factores estan porcentaje a diferencia de los rendimientos, por lo que habrÃ­a que dividirlos por 100 como se realiza a continuaciÃ³n.

In [17]:
columnas = ["Mkt.RF", "SMB", "HML", "RMW", "CMA", "Mom"]

factores[columnas] = factores[columnas] / 100

In [18]:
factores.head()

     Date  Mkt.RF     SMB     HML     RMW     CMA     Mom
0  200101  0.0313  0.0578 -0.0533 -0.0531 -0.0655 -0.2505
1  200102 -0.1005  0.0263  0.1258  0.0909  0.0956  0.1251
2  200103 -0.0726  0.0227  0.0652  0.0327  0.0394  0.0835
3  200104  0.0794 -0.0066 -0.0480 -0.0342 -0.0395 -0.0797
4  200105  0.0072  0.0356  0.0334  0.0017  0.0218  0.0212

In [19]:
print(factores.describe())

               Date      Mkt.RF         SMB         HML         RMW  \
count     240.00000  240.000000  240.000000  240.000000  240.000000
mean   201056.50000    0.006443    0.002802   -0.000919    0.003061
std       577.84356    0.045153    0.026701    0.028890    0.022035
min    200101.00000   -0.172300   -0.083800   -0.139600   -0.089300
25%    200578.75000   -0.018950   -0.014125   -0.016500   -0.009775
50%    201056.50000    0.011750    0.002350   -0.001200    0.003150
75%    201534.25000    0.032625    0.021150    0.015075    0.013200
max    202012.00000    0.136500    0.069400    0.125800    0.090900

              CMA         Mom
count  240.000000  240.000000
mean     0.001076    0.001088
std      0.018524    0.050877
min     -0.065500   -0.343900
25%     -0.010650   -0.016875
50%     -0.000450    0.003500
75%      0.010600    0.028350
max      0.095600    0.125400

------------------------------------------------------------------------------------------------

# **ESTANDARIZACIÃ“N Â¿NECESARIA?**

Si es necesaria la estandarizaciÃ³n, Â¿por quÃ©?, al ser el principal objetivo del trabajo realizar, con nuestro conjunto de datos, realizar los siguientes 4 modelos de regresiÃ³n:
- Regresion Lineal Ordinaria (OLS). Â´
- Lasso.
- Ridge.
- Elastic Net.
Se deben estandarizar los datos debido a que:

| **Modelo**            | **Â¿Necesita estandarizaciÃ³n?** | **RazÃ³n**                                                                 |
|------------------------|--------------------------------|---------------------------------------------------------------------------|
| RegresiÃ³n Lineal (OLS) | Recomendable                  | Facilita la interpretaciÃ³n y comparaciÃ³n de coeficientes.                 |
| Lasso                  | SÃ­                            | La penalizaciÃ³n L1 es sensible a la escala de las variables.              |
| Ridge                  | SÃ­                            | La penalizaciÃ³n L2 es sensible a la escala de las variables.              |
| Elastic Net            | SÃ­                            | Combina L1 y L2, por lo que requiere estandarizaciÃ³n.                     |

Por todo lo anterior se procede a estandarizar los factores.

In [22]:
scaler = StandardScaler()
factores[columnas] = scaler.fit_transform(factores[columnas])

In [23]:
print(factores.describe())

               Date      Mkt.RF           SMB           HML           RMW  \
count     240.00000  240.000000  2.400000e+02  2.400000e+02  2.400000e+02
mean   201056.50000    0.000000  1.480297e-17  3.700743e-17  1.480297e-17
std       577.84356    1.002090  1.002090e+00  1.002090e+00  1.002090e+00
min    200101.00000   -3.966858 -3.250161e+00 -4.810397e+00 -4.200237e+00
25%    200578.75000   -0.563547 -6.352705e-01 -5.404495e-01 -5.837274e-01
50%    201056.50000    0.117781 -1.696661e-02 -9.741214e-03  4.054978e-03
75%    201534.25000    0.581061  6.885942e-01  5.547867e-01  4.610927e-01
max    202012.00000    2.886369  2.499408e+00  4.395484e+00  3.994608e+00

                CMA           Mom
count  2.400000e+02  2.400000e+02
mean   5.921189e-17  1.850372e-18
std    1.002090e+00  1.002090e+00
min   -3.601591e+00 -6.795047e+00
25%   -6.343391e-01 -3.538140e-01
50%   -8.254388e-02  4.750128e-02
75%    5.152343e-01  5.369582e-01
max    5.113528e+00  2.448499e+00

### **SE GUARDAN LOS FACTORES ESCALADOS Y POSTERIORMENTE ESTANDARIZADOS EN UN NUEVO EXCEL**

In [26]:
import pandas as pd
ruta_archivo = "../data/processed/data_mutual_funds_and_factors_processed.xlsx"

with pd.ExcelWriter(ruta_archivo) as writer:
    rendimientos.to_excel(writer, sheet_name="fund_returns", index=False)
    factores.to_excel(writer, sheet_name="FF_factors", index=False)